/* Sticky footer from http://stackoverflow.com/a/21325511/140800 */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.footer, .push {
  height: 45px; /* .push must be the same height as .footer */
  text-align: center;
}
.jumbotron {
  color: red;
}
.quote-box {
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #151515;
}
.quote-box blockquote {
  font-size: 23px;
}
.quote-attribution {
  font-size: 17px;
  float: left;
  padding-bottom: 15px;
  margin-left: 100px;
  text-align: left;
  line-height: .5em;
  width: 100%;
}
.quote-editorial {
  font-size: 15px;
}
.quote-post-date {
  float: right;
  margin-top: -15px;
  font-size: 12px;
}

body,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: Georgia, "Times New Roman", Times, serif;
}
