/* Sticky footer from http://stackoverflow.com/a/21325511/140800 */
* {
  margin: 0;
  background-color: rgb(0,0,0);
  background-image: url(parchment_background.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}
html, body {
  height: 100%;
  color: #210404;
}
.navbar-inverse {
  color: #730109;
  border-color: #730109;
}
.navbar-inverse .navbar-brand {
  color: #730109;
}
.navbar-nav .navbar-nav:focus .navbar:hover li a {
  color: #210404;
}
.quote-edit-label > a {
  float: right;
  display: inline-block;
  vertical-align: top;
  color: #730109;
}
.quote-post-date-color {
  color: #210404;
}
.navbar-inverse .navbar-nav > li > a{
  color: #210404;
}
.dropdown-toggle .dropdown-menu li a:hover {
  color: #210404;
}
.footer, .push {
  height: 45px; /* .push must be the same height as .footer */
  text-align: center;
}
.quote-box {
  box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 25px;
/*  border: 1px solid #151515; */
}
.quote-box blockquote {
  border-left: 5px solid #730109;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 23px;
}
.quote-attribution {
  color: #730109;
  margin-top: -15px;
  font-size: 17px;
  float: left;
  padding-bottom: 15px;
  margin-left: 100px;
  text-align: left;
  line-height: .5em;
  width: 100%;
}
.quote-box small {
  padding-top: 10px;
  padding-left: 100px ;
  text-indent: -22px ;
  line-height: 1.2em;
}
.quote-editorial {
  font-size: 15px;
}
.quote-post-date {
  float: right;
  margin-top: -10px;
  font-size: 12px;
}
h3.search-results {
  padding-bottom: 30px;
}
body,
input,
button,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
.navbar-search .search-query {
/*  color: #730109; */
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 { 
  padding-bottom: 30px;
}
.btn .btn-primary .form-group button {
  color: #210404 !important;
}
.quote-box h1 {
  color: #210404;
}

.btn-custom {
  /* generated via http://charliepark.org/bootstrap_buttons/ */
  background-color: hsl(0, 58%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a92c2c", endColorstr="#581717");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a92c2c), to(#581717));
  background-image: -moz-linear-gradient(top, #a92c2c, #581717);
  background-image: -ms-linear-gradient(top, #a92c2c, #581717);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a92c2c), color-stop(100%, #581717));
  background-image: -webkit-linear-gradient(top, #a92c2c, #581717);
  background-image: -o-linear-gradient(top, #a92c2c, #581717);
  background-image: linear-gradient(#a92c2c, #581717);
  border-color: #581717 #581717 hsl(0, 58%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
