.jumbotron {
  color: red;
}
.quote-box {
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #151515;
}
.quote-box blockquote {


}
.quote-attribution {
  float: left;
  padding-bottom: 15px;
  margin-left: 100px;
  text-align: left;
  line-height: .5em;
  width: 100%;
}
