{% load staticfiles %}
{% load bootstrap_themes %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Veins</title>
    {% bootstrap_styles theme='cyborg' type='css' %}
    <link rel="stylesheet" type="text/css" href="{% static "openveins.css" %}">
  </head>
  <body>
  {% include "navbar_top.html" %}
  <div class="jumbotron">
    Open Veins
  </div>
  <div class="main-content">
    {% block content %}
    {% endblock content %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% bootstrap_script %}
  </div>
  <div class="push"></div>
  </div>
  <div class="footer">
    <p>Open Veins</p>
  </div>
  </body>
</html>





