{% extends 'base.html' %}
{% load endless %}

{% block content %}

  {% paginate quotes %}
  {% for quote in quotes %}
  <div class="container quote-box">
    <blockquote>
      {{ quote.text }}
    </blockquote>
    <div class="quote-attribution">
      <p>― {{quote.author}}</p>
      <p><i>{{quote.source}}</i></p>
      <p>{{quote.year}}</p>
    </div>
    {% if quote.editorial %}
    <div class="quote-editorial">
      <p>{{quote.editorial|safe}}</p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  {% show_pages %}

{% endblock content %}
