{% load endless %}
{% paginate quotes %}
{% for quote in quotes %}
<div class="container quote-box">
  <blockquote>
    <h1>
    {{ quote.text }}
    </h1>

  <small>
    {{quote.author}}<br>
    <cite title="{{quote.source}}">{{quote.source}}</cite><br>
      {{quote.year}}<br>
  </small>
  </blockquote>
  {% if quote.editorial %}
  <div class="quote-editorial">
    <p>{{quote.editorial|safe}}</p>
  </div>
  {% endif %}
  <div class="quote-post-date">
    {{quote.post_date}}
  </div>
</div>
{% endfor %}
{% show_more %}
