{% extends 'base.html' %}
{% load openveins_extras %} 

{% block content %}
  {% if query %}
      {% for quote in page.object_list %}
        {% if forloop.first %}
          <h3 class="search-results">Quotes with "{{ query  }}" in them:</h3>
        {% endif %}

        {% render_quote_card quote %}

        <p>
          <a href="{{ result.object.get_absolute_url }}">{{ result.object.text }}</a>
        </p>
      {% empty %}
        <h3 class="search-results">No quotes with "{{ query  }}" found.</h3>
      {% endfor %}

      {% if page.has_previous or page.has_next %}
        <div>
           {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
           |
           {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
      {% endif %}
      {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
