{% extends 'base.html' %}

{% block content %}
  {% if query %}
    <h3 class="search-results">Quotes with "{{ query  }}" in them:</h3>
      {% for quote in page.object_list %}
        <div class="container quote-box">
          <blockquote>
            <h1>{{ quote.text }}</h1>
            <small class="quote-attribution">
              {{quote.author}}<br>
              <cite title="{{quote.source}}"><i>{{quote.source}}</i></cite><br>
              {{quote.year}}<br>
            </small>
           </blockquote>
        </div>

     {% if quote.editorial %}
       <div class="quote-editorial">
         <p>{{quote.editorial|safe}}</p>
        </div>
     {% endif %}
     <div class="quote-post-date">
       {{quote.post_date}}
     </div>
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.text }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
